<div class  = "TomataoWork">
  <div class = "main">
    <div class = "AddTodoGroup">
      <input class = "AddToText" type="text" placeholder="ADD A NEW MISSION..." #addTodoInput (keyup.enter)="AddToDoItem(addTodoInput)">
      <input class = "AddToButton" type="button" value="+" (click)="AddToDoItem(addTodoInput)"/>
    </div>
    <div class = "content">
      <div class = "TodoInformation">
        <div class = "Checked" ></div>
        <div class = "TextAndLabel">
          <div class = "Text" @changeValue (click)="endCountDown()">{{TodoText}}</div>
          <div class = "Label" (click)="startCountDown()"></div>
        </div>
      </div>

      <div class = "CountDownText">
        <span>{{CountDownTime}}</span>
      </div>


      <div class = "TimerGroup">

      </div>

      <div class = "TodoList">

      </div>

      </div>
  </div>

  <div class = "menu">

  </div>
</div>
