<div class  = "TomataoWork">
  <div class = "main">
    <div class = "AddTodoGroup">
      <input class = "AddToText" type="text" placeholder="ADD A NEW MISSION..." #addTodoInput (keyup.enter)="AddToDoItem(addTodoInput)">
      <input class = "AddToButton" type="button" value="+" (click)="AddToDoItem(addTodoInput)"/>
    </div>
    <div *ngIf="getNowTodoItem(todoItem).length == 0">
      <h1>PLEASE ADD TODO TO START...</h1>
    </div>
    <div class="content" *ngIf="getNowTodoItem(todoItem).length == 1">
      <div class = "NowTodo" *ngFor="let item of getNowTodoItem(todoItem)">
        <div class = "NowTodo-Checked" ></div>
        <div class="NowTodo-info">
          <div class="NowTodo-title" @changeValue>{{item.title}}</div>
          <div class="NowTodo-round">
              <!-- <div class="done-clock" ></div> -->
              <div class="done-clock" *ngFor="let item of [].constructor(item.tomoto)"></div>
              <svg viewBox="0 0 32 32" class="small-clock" *ngIf="countdownService.countDownStatus == 'work'">
                  <circle class="clock clock_animation" r="16" cx="16" cy="16" [ngStyle]="countdownService.isCountDown && {'stroke-dasharray': countdownService.limitPercent+',100', 'animation-name': 'countdown', 'animation-duration': countdownService.limitSeconds+'s', 'animation-fill-mode': 'forwards', 'animation-timing-function': 'linear'}"/>
              </svg>
          </div>
      </div>
      </div>

      <div class = "CountDownText">
        <span>{{countdownService.showCountDownTime}}</span>
      </div>


      <div class = "TimerGroup" [ngClass]="{'play': countdownService.isCountDown, 'pause': !countdownService.isCountDown}">
        <div class = "TimerBody">
          <i *ngIf="!countdownService.isCountDown" class="material-icons pause" (click)="countdownService.StartCountDown()">play_circle_filled</i>
          <i *ngIf="countdownService.isCountDown" class="material-icons pause" (click)="countdownService.StopCountDown()">pause_circle_filled</i>
          <i  class="material-icons stop" (click)="countdownService.endCountDown()">stop</i>
        </div>
        <svg viewBox="0 0 33.15 33.15" class="circular-chart" stlye="">
          <path class="circle" [ngStyle]="countdownService.isCountDown && {'stroke-dasharray': countdownService.limitPercent+',100', 'animation-name': 'countdown', 'animation-duration': countdownService.limitSeconds+'s', 'animation-fill-mode': 'forwards', 'animation-timing-function': 'linear'}" d="M16.57 0.639 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
        </svg>
      </div>

      <div class = "TodoListAll">
        <ul class = "TodoList">
          <div *ngFor= "let item of waitTodoItemFilter(todoItem); ">
            <li>
              <i class="material-icons" (click)="todoService.setfinishedTodo(item.id)">panorama_fish_eye</i>
              <span>{{item.title}}</span>
              <i class="material-icons do-todo" (click)="todoService.setNowTodoItem(item.id)">play_circle_outline</i>
            </li>
          </div>
        </ul>
      </div>

    </div>
  </div>

  <div class = "menu">
    <div class="menu-group">
      <div class="menu-box">
        <i class="material-icons" (click)="toggleSettingComponent('1')">list</i>
      </div>
      <div class="menu-box">
          <i class="material-icons" (click)="toggleSettingComponent('2')">assessment</i>
      </div>
      <div class="menu-box">
          <i class="material-icons" (click)="toggleSettingComponent('3')">library_music</i>
      </div>
    </div>
    <span class="menu-text">POMODORO</span>
  </div>
  <app-setting  class="setting" @myInsertRemoveTrigger *ngIf="showSettingComponent" [parentSettingType]="settingType" (closeComponent)="toggleSettingComponent('0')"></app-setting>

</div>
