.TomataoWork
{
  width: 1280px;
  height: 800px;
  display: flex;
  position: relative;
  overflow: hidden;

  .main
  {
    width: 830px;
    height: 100%;
    padding: 48px 85px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFEDF7;

    .AddTodoGroup
    {
      display: flex;
      width: 445px;
      height: 56px;
      .AddToText
      {
        width: 100%;
        border: 2px solid white;
        font-size: 16px;
        padding: 16px;
        box-sizing: border-box;
        color: #ff4384;
        outline: #ff4384;
        transition: all .5s;

        &:focus {
          border: 2px solid #ff4384;
        }

        &::-webkit-input-placeholder {
          color: #ff4384;
          font-weight: bolder;
          font-style: italic;
        }
      }
      .AddToButton
      {
        width: 56px;
        height: 56px;
        font-size: 24px;
        background-color: #fff;
        color: #ff4384;
        border: 2px solid white;
        outline: none;
        transition: all .5s;

        &:active {
          border: 2px solid #ff4384;
        }
      }





    }

    .content
      {
        display: flex;
        flex-direction: column;
        .NowTodo
        {
          display: flex;
          margin-top: 145px;
          align-items: center;
          .NowTodo-Checked
          {
            width: 48px;
            height: 48px;
            border: 2px solid #003164;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
              content: '';
              width: 40px;
              height: 40px;
              background-color: #003164;
              position: absolute;
              border-radius: 50%;
              opacity: 0;
              transition: all .3s;
            }
            &:hover::before {
              opacity: 1;
            }
          }
          .NowTodo-info {
            margin-left: 16px;
            display: flex;
            flex-direction: column;
            .NowTodo-title {
              color: #003164;
              font-size: 24px;
              font-weight: bold;
            }
            .NowTodo-round {
              display: flex;
              align-items: flex-end;
              margin-top: auto;

              .done-clock {
                width: 12px;
                height: 12px;
                background-color: #003164;
                border-radius: 50%;
                margin-right: 8px;
              }
              .empty-clock {
              width: 10px;
                height: 10px;
              border: 1px solid #ff4384;
                border-radius: 50%;
                margin-right: 8px;
              }
            }
          }


        }
        .CountDownText
        {
          display: flex;
          align-items: center;
          height: 206px;
          font-size:176px;
          color: #ff4384;
          font-weight: bold;
        }

        .TimerGroup
        {
          border-radius: 50%;
          width: 540px;
          height: 540px;
          position: absolute;
          right: -65%;
          top: 0;
          transform: translateX(-50%);
          z-index: 100;
          margin: 130px 0;
          box-sizing: border-box;
          .TimerBody
          {
            width: 490px;
            height: 490px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translateX(-50%) translateY(-50%);
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          i {
            cursor: pointer;
          }

          i.pause {
            font-size: 96px;
            margin-left: 32px;
          }

          i.stop {
            margin-top: 70px;
          }
        }

        .TimerGroup.pause {
          border: 4px solid #ff4384;

          .TimerBody {
            border: 4px solid #ff4384;

            &.TimerBody {
              background-color: #ff4384;
            }

            i.pause {
              color: #fff;
            }

            i.stop {
              color: #fff;
            }
          }
        }

        .TimerGroup.play {
          border: 4px solid #ff4384;

          .TimerBody {
            border: 4px solid #ff4384;

            &.TimerBody {
              background-color: #fff;
            }

            i.pause {
              color: #00A7FF;
            }

            i.stop {
              color: #00A7FF;
            }
          }
        }

        .circle {
          stroke: #ff4384;
        }
      .TodoListAll
      {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        width: 445px;
        .TodoList
        {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: flex;
            height: 32px;
            align-items: center;
            border-bottom: 1px solid rgba(#003164, .2);

            span {
              margin-left: 8px;
              color: #003164;
              font-weight: bold;
            }

            .do-todo {
              margin-left: auto;
            }

            i {
              cursor: pointer;
            }
          }
        }
      }

      }
  }





  .menu {
    width: 450px;
    height: 100%;
    background-color: #003164;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    position: relative;

    .menu-group {
      margin-top: 48px;
      margin-right: 85px;
      display: flex;
      flex-direction: column;
    }

    .menu-box {
      width: 36px;
      height: 36px;
      margin-bottom: 48px;
    }

    .menu-group i {
      color: white;
      font-size: 36px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      &:hover {
        color: #FF4384;
        font-size: 50px;
      }
    }

    .menu-text {
      color: white;
      position: absolute;
      transform: rotate(90deg);
      transform-origin: right top;
      right: 85px;
      bottom: 48px;
      font-size: 24px;
      font-weight: bold;
    }
  }


}
.setting {
  position: absolute;
  z-index: 100;
  top: 0;
  background-color: #003164;
  width: 1280px;
  height: 800px;
  display: flex;
  padding: 0px 85px;
  box-sizing: border-box;
}

